* {
    box-sizing: border-box;
}


body {
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
}


h2 {
    color: #42596F;
    margin: 20px 0px 0px 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

/* Hero section */

.jumbotron {
    margin-top: 0;
    text-align: center;
    color: white;
    width: 100%;
    background: url(./Images/20200301_112406.jpg);
    min-height:100%;
    background-position: center;
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(22, 29, 44, 0.6);
}

.logo {
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}


.navbar-brand {
    margin-top: 5px; 
}

.container {
    padding: 0px;
    margin-top: 40px;
}

/* Images */

.profile-pic {
    border: solid 1px #eaeaea;
    padding: 5px;
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 20px 20px 20px;
}

.thumbnail {
    padding: 6px;
    border: solid 1px #e6e6e6;
    width: 340px;
    height: 340px;
    float: left;
    margin: 1.66%;
    transition: all .2s ease-in-out;
}
    
.thumbnail:hover {
    transform: scale(1.1); 
    }

/* Contact form */

form {
    padding: 16px   ;
    width: 600px;
    margin: 0 20px;
}

.form-group label {
    font-weight: 700;
}

/* Buttons */

.btn-primary {
    font-family: 'Roboto', serif;
    width: auto;
    /* padding: 10px; */
    margin-bottom: 20px;
    border: none;
    background-color: #42596F;
}

.btn:hover {
    background-color: #324353
}

.btn:active {
    background-color: white;
}

.card-text {
    padding: 16px;
}